.split{
    display: flex;
    
}

.inputH{
    padding: 1em;
}

.consForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioH{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}