.split{
    display: flex;
    
}

.inputH{
    padding: 1em;
}


.inputH label{
    color: black;
		font-weight: bold;
		line-height: 1.5;
		margin: 0 0 0.7em 0;
		display: block;
		font-size: 1.1em;
}

.inputH input{
    height: 2.75em;

}

.consForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.radioH{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
}
.consForm{
    padding: 0em;
}

.text-area{
    
    line-height: 1.5;
    
}

.btn-hldr{
    padding:3em
}
