


.about{
    display: flex;
    flex-direction: row;
    min-height: 25em;
}

.content{
    width: 50em;
    justify-content: center;
    padding:4em 5em 2em 5em;
}

.about p{
    color: #9d0204;

}
.aboutUsCardImg{
    float: left;
    width:  300px;
    height: 300px;
    object-fit: scale-down;
}

@media screen and (max-width: 736px) {

	.aboutUsCardImg{
        display: none;
    }
   .content{
       padding: 0;
   }
}