.fields{
    width:calc(100% + 3em)
}

.half-fields{
    display: flex;
   margin: 0 -10px;
}

.half-field{
    display:flex;
    flex-direction: column;
    margin: 0 10px;
    width:calc(50% - 0.75em)
}

.half-field label{
    color: black;
		font-weight: bold;
		line-height: 1.5;
		margin: 0 0 0.7em 0;
		display: block;
		font-size: 1.1em;
}

.half-field input{
    height: 2.75em;

}

.full-field{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 20px;
}

.full-field label{
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    display: block;
    font-size: 1.1em;
}



form{
    margin: 0 7em 2em 0;
    
}
.contactDiv{
/* width: calc(66.66666% - 2.5em); */
 margin-left: 1em;
}
.contactDiv p{
 color: #9d0204;

}

.contactDiv span{
    color: #9d0204;
}
.contactDiv a{
    color: #9d0204;

}
.divider{
    display: flex;
    justify-content: space-evenly;
    padding-top:30px;
}
.titleDiv{
    padding-left: 2em;
    padding-right: 2em;
}
