.employee-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10em;
}

.employee-div{
    display: flex;
   justify-content: space-between;
}

.employee-info{
    display: flex;
    flex-direction: column;
    color: #9d0204;
   margin:4em
}

.img{
    height: 200px;
    width: 200px;
}