.employee-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10em;
}

.employee-div{
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.employee-info{
    display: flex;
    flex-direction: column;
    color: #9d0204;
   margin:4em
}


