.employee-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10em;
}

.employee-div{
    display: flex;
    padding: 2em;
}

.employee-info{
    display: flex;
    flex-direction: column;
}