.footer{
    display: flex;
    background: black;
    color: #9d0204;
    justify-content: space-between;
}

.contactHolder{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.disclaimer{
    margin: 3em;
}


@media screen and (max-width: 736px) {
   
    .footer{
        flex-direction: column;
    }

}