.header {
    overflow: hidden;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: black;
    position: sticky;
    z-index: 1;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}

.home{
    background: black;
    
    opacity:1;
    float:right;
    width:100px;
    height: 150px;
    display: flex;
   justify-content: center;
    align-items: center;
}
.home:hover{
    background: white;
}
.hidden{
    margin-left: 50px;
}
.homeLabel{
 color: #9d0204;;
}

