.header {
    overflow: hidden;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: black;
    position: sticky;
    z-index: 1;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.home{
   
    color:red;
    opacity:1;
    float:right;
    padding-right: 50px;
}
.hidden{
    margin-left: 50px;
}
