.side-bar{
    padding: 2.5em 2.5em 0.5em 2.5em ;
    background: black;
    cursor: default;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    text-align: right;
    top: 0;
    width: 20%;
    z-index: 10000;
    
}

.side-div{
    display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			-moz-transition: opacity 1s ease;
			-webkit-transition: opacity 1s ease;
			-ms-transition: opacity 1s ease;
			transition: opacity 1s ease;
			min-height: 100%;
			opacity: 1;
			width: 100%;
}
.side-li{
    -moz-transform: translateY(0);
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
				-moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
				-webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
				-ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
				transition: opacity 0.15s ease, transform 0.75s ease;
				margin: 1.5em 0 0 0;
				opacity: 1;
				padding: 0;
				position: relative;
}
.side-a{
            -moz-transition: color 0.2s ease;
			-webkit-transition: color 0.2s ease;
			-ms-transition: color 0.2s ease;
			transition: color 0.2s ease;
			border: 0;
			color: rgba(255, 255, 255, 0.35);
			display: block;
			font-size: 0.6em;
			font-weight: bold;
			letter-spacing: 0.25em;
			line-height: 1.75;
			outline: 0;
			padding: 1.35em 0;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
   
	.side-bar {
		height: 3.5em;
		left: 0;
		line-height: 3.5em;
		overflow: hidden;
		padding: 0;
		text-align: center;
		top: 0;
		width: 100%;
	}

		.side-div {
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-moz-align-items: -moz-stretch;
			-webkit-align-items: -webkit-stretch;
			-ms-align-items: -ms-stretch;
			align-items: stretch;
			height: inherit;
			line-height: inherit;
		}

		.side-bar nav {
			height: inherit;
			line-height: inherit;
		}

			.side-bar nav ul {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				height: inherit;
				line-height: inherit;
				margin: 0;
			}

				.side-bar nav ul li {
					display: block;
					height: inherit;
					line-height: inherit;
					margin: 0 0 0 2em;
					padding: 0;
				}

			.side-bar nav a {
				height: inherit;
				line-height: inherit;
				padding: 0;
			}

				.side-bar nav a:after {
					background-image: none;
					background-color: red;
					/* background-color: #b74e91; */
				}

}

@media screen and (max-width: 736px) {

	.side-bar {
		display: none;
	}

}
