
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro{background-attachment: fixed;
    background-color: white;
    color: #9d0204;
    /* background-image: url("images/intro.svg"); */
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    padding:3em;
    }

.intro-div{
    
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
			max-width: 100%;
			width: 75em;
            
}
.intro-div p{
    font-size: 1.25em;
}

.image-div{
    display: flex;
    justify-content: center;
}